In [ ]:
# URI = postgres+psycopg2://postgres:Admin@localhost:5432/postgres

In [1]:
from sqlalchemy import create_engine as ce
import pandas as pd

In [2]:
engine = ce('postgresql://postgres:Admin@localhost:5432/postgres')

In [3]:
table_df = pd.read_sql_table('produkt', engine)

In [4]:
table_df.head()

  produkt_id markenname produktname   preis subkategorie_id
0       1001     German   Leinsamen  2,45 €             007
1       1002     German       Äpfel  1,20 €             006
2       1003     German   Aubergine  3,00 €             005
3       1004     German  Blumenkohl  2,05 €             005
4       1005     German    Brokkoli  1,10 €             005