erstes Beispiel um Funktionalität zu prüfen

In [1]:
import os
os.environ['ATOTI_HIDE_EULA_MESSAGE'] = 'True'

import atoti as tt

session = tt.Session()

In [2]:
produkt_table = session.read_csv("data/Produkt.csv", keys=["Produkt_ID"])

In [5]:
produkt_table.head(200)

                  Markenname    Produktname  Preis  Subkategorie_ID
Produkt_ID
1011                  German      Wallnüsse   2.15                7
1110             Selfcooking    Räuchertofu   1.02                4
1209                Biomühle  engl. Muffins   1.42                9
1312                 Carmens   Münster Käse   0.50                2
1406                Ich Darf          Äpfel   2.68                6
...                      ...            ...    ...              ...
2105               Bergwiese      Sojamilch   0.54                8
2117               Bergwiese  Creme fraiche   2.26               11
2211                 Biowelt    Mandelmilch   3.19                8
2305        Regionalvertrieb    Dinkeldrink   0.62                8
2317        Regionalvertrieb    Appenzeller   1.58                2

[200 rows x 4 columns]

In [4]:
cube = session.create_cube(produkt_table)

In [6]:
h = cube.hierarchies
h

{('Produkt', 'Markenname'): <atoti.hierarchy.Hierarchy object at 0x0000012E1E78A610>, ('Produkt', 'Produkt_ID'): <atoti.hierarchy.Hierarchy object at 0x0000012E1E78AAC0>, ('Produkt', 'Produktname'): <atoti.hierarchy.Hierarchy object at 0x0000012E1E78AC10>}

In [7]:
l = cube.levels

In [8]:
m = cube.measures
m

{'contributors.COUNT': <atoti.measure.Measure object at 0x0000012E05A0FBE0>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x0000012E05A0F850>, 'Subkategorie_ID.SUM': <atoti.measure.Measure object at 0x0000012E1E7837C0>, 'Subkategorie_ID.MEAN': <atoti.measure.Measure object at 0x0000012E1E783760>, 'Preis.SUM': <atoti.measure.Measure object at 0x0000012E1E783820>, 'Preis.MEAN': <atoti.measure.Measure object at 0x0000012E1E783850>}

In [10]:
cube.query(m["Preis.SUM"])

  Preis.SUM
0    354.23

In [13]:
cube.query(m["Preis.SUM"], levels=[l["Markenname"]])

                 Preis.SUM
Markenname
Bergwiese            35.48
Biomühle             16.06
Bioweide             29.93
Biowelt              33.26
Black Toast          13.12
Carmens              28.97
Dresdner             24.17
Freiland             20.78
German               24.45
Ich Darf             21.23
Regiomühle           12.66
Regionalvertrieb     34.05
Sachsenmühle         15.07
Selfcooking          17.51
Veggieland           27.49

In [20]:
cube.query(
    m["Preis.SUM"],
    levels=[l["Markenname"], l["Produktname"]],
    filter=l["Produktname"] == "Leinsamen",
)

                        Preis.SUM
Markenname  Produktname
Dresdner    Leinsamen        1.40
German      Leinsamen        2.45
Ich Darf    Leinsamen        1.46
Selfcooking Leinsamen        1.14
Veggieland  Leinsamen        2.68

In [21]:
session.visualize()

Open the notebook in JupyterLab with the atoti extension enabled to build this widget.