In [ ]:
# URI = postgres+psycopg2://postgres:Admin@localhost:5432/postgres

In [1]:
from sqlalchemy import create_engine as ce
import pandas as pd
import atoti as tt

session = tt.Session()

Welcome to atoti 0.7.2!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, set the ATOTI_DISABLE_TELEMETRY environment variable to True.

You can hide this message by setting the ATOTI_HIDE_EULA_MESSAGE environment variable to True.

In [2]:
engine = ce('postgresql://postgres:Admin@localhost:5432/postgres')

In [3]:
dataframe = pd.read_sql_table('produkt', engine)

In [4]:
dataframe['preis'] = dataframe['preis'].str.replace('€', '')

In [5]:
dataframe.replace(to_replace=",", value=".", regex=True, inplace=True)

In [6]:
dataframe.head()

  produkt_id markenname produktname  preis subkategorie_id
0       1001     German   Leinsamen  2.45              007
1       1002     German       Äpfel  1.20              006
2       1003     German   Aubergine  3.00              005
3       1004     German  Blumenkohl  2.05              005
4       1005     German    Brokkoli  1.10              005

In [7]:
dataframe['preis'] = dataframe['preis'].astype(float)

In [8]:
result = dataframe.dtypes

In [9]:
print(result)

produkt_id          object
markenname          object
produktname         object
preis              float64
subkategorie_id     object
dtype: object

In [10]:
product_table = session.read_pandas(dataframe, keys=['produkt_id'], table_name = "Produkt")

In [11]:
product_table.head()

             markenname   produktname  preis subkategorie_id
produkt_id
1003             German     Aubergine   3.00             005
1007             German    Berglinsen   1.48             003
1011             German     Wallnüsse   2.15             007
1102        Selfcooking         Äpfel   0.79             006
1106        Selfcooking  grüne Linsen   1.68             003

In [12]:
cube = session.create_cube(product_table)

In [13]:
h = cube.hierarchies
h

{('Produkt', 'produktname'): <atoti.hierarchy.Hierarchy object at 0x0000027C2B9C8400>, ('Produkt', 'produkt_id'): <atoti.hierarchy.Hierarchy object at 0x0000027C2B9C86A0>, ('Produkt', 'markenname'): <atoti.hierarchy.Hierarchy object at 0x0000027C2B9C8790>, ('Produkt', 'subkategorie_id'): <atoti.hierarchy.Hierarchy object at 0x0000027C2B9C8820>}

In [14]:
l = cube.levels

In [16]:
m = cube.measures
m

{'contributors.COUNT': <atoti.measure.Measure object at 0x0000027C2B9C8AF0>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x0000027C2B9C8C10>, 'preis.SUM': <atoti.measure.Measure object at 0x0000027C2B9C8340>, 'preis.MEAN': <atoti.measure.Measure object at 0x0000027C2B9C8C40>}

In [18]:
cube.query(m["preis.SUM"])

  preis.SUM
0    354.23

In [20]:
cube.query(m["preis.SUM"], levels=[l["markenname"]])

                 preis.SUM
markenname
Bergwiese            35.48
Biomühle             16.06
Bioweide             29.93
Biowelt              33.26
Black Toast          13.12
Carmens              28.97
Dresdner             24.17
Freiland             20.78
German               24.45
Ich Darf             21.23
Regiomühle           12.66
Regionalvertrieb     34.05
Sachsenmühle         15.07
Selfcooking          17.51
Veggieland           27.49

In [ ]:
cube.query(
    m["Preis.SUM"],
    levels=[l["Markenname"], l["Produktname"]],
    filter=l["Produktname"] == "Leinsamen",
)

In [ ]:
session.visualize()

In [ ]:
subcategory_table = session.read_csv("Produktsubkategorie.csv", keys=["Subkategorie_ID"])

In [ ]:
subcategory_table.head()

In [ ]:
produkt_table.join(subcategory_table, mapping={"Subkategorie_ID": "Subkategorie_ID"})

In [ ]:
session.tables.schema

In [ ]:
h